<div class="item">
  <a [routerLinkActive]="'active'" [routerLink]="['/', item.path]" mat-list-item>
    <!--    <mat-icon>{{ item.data.icon }}</mat-icon>-->
    {{ item.data.text }}
  </a>
  <a *ngIf="item.data.subMenu && item.data.subMenu.length === 1" [routerLinkActive]="'active'"
     [routerLink]="['/', item.path, item.data.subMenu[0].path]" class="more"
     mat-icon-button>
    <mat-icon>{{item.data.subMenu[0].icon}}</mat-icon>
  </a>
  <button *ngIf="item.data.subMenu" [hidden]="item.data.subMenu.length < 2" [matMenuTriggerFor]="menu" class="more"
          mat-icon-button>
    <mat-icon>more_vert</mat-icon>
  </button>
</div>
<mat-menu #menu="matMenu" [hidden]="!item.data.submenu">
  <a *ngFor="let link of item.data.subMenu" [routerLinkActive]="'active'"
     mat-menu-item routerLink="/{{item.path}}/{{link.path}}">
    <mat-icon *ngIf="link.icon">{{link.icon}}</mat-icon>
    {{link.text}}
  </a>
</mat-menu>
