<section>
  <app-breadcrumbs title="Додавання шаблону"></app-breadcrumbs>
  <form [formGroup]="form" (submit)="submit($event)">
    <mat-form-field>
      <mat-label>Категорія:</mat-label>
      <mat-select formControlName="calculationType">
        <mat-option *ngFor="let one of categories" value="{{one}}">{{translatedCategories[one]}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Назва</mat-label>
      <input formControlName="name" type="text" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Опис</mat-label>
      <textarea formControlName="description" type="text" matInput></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Коефіцієнт</mat-label>
      <input formControlName="coefficient" type="number" matInput>
    </mat-form-field>
    <button [appPreLoader]="isSubmit" mat-raised-button color="primary">Зберегти</button>
  </form>
</section>
