$primary-color: #1976d2;
$white: #ffffff;
$main-background-color: #fafafa;
$c-text: #4d4d4d;
$c-border: rgba(0, 0, 0, .12);
$c-error: rgba(red, .5);

$f-s-text: 1rem;
$f-s-small: .8rem;
$f-s-medium: 1.3rem;
$f-s-large: 1.6rem;

$max-w-laptop: 1400px;
// @import 'theme';
// $primary-color: $mat-blue;
