<div class="layout-container">
  <app-top-nav></app-top-nav>
  <mat-sidenav-container [style.marginTop.px]="56" class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav mat-elevation-z10" fixedTopGap="56">
      <app-side-nav></app-side-nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <main class="main-container">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<mat-progress-bar *ngIf="isLoad"
                  class="main-progress"
                  color="warn"
                  mode="query">
</mat-progress-bar>
