<section>
  <app-breadcrumbs title="Додавання користувача"></app-breadcrumbs>
  <form [formGroup]="form" (submit)="submit($event)">
    <mat-form-field formGroupName="loadStandard">
      <mat-label>Тип:</mat-label>
      <mat-select formControlName="id">
        <mat-option *ngFor="let role of roles" value="{{role.id}}">{{role.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ім"я</mat-label>
      <input type="text" formControlName="firstName" matInput>
    </mat-form-field>
    <mat-form-field >
      <mat-label>Прізвище</mat-label>
      <input type="text" formControlName="lastName" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Логін</mat-label>
      <input type="text" formControlName="username" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Пароль</mat-label>
      <input type="password" formControlName="password" matInput>
    </mat-form-field>
    <button [appPreLoader]="isSubmit" mat-raised-button color="primary">Зберегти</button>
  </form>
</section>
